
@import url('barralateral.css');
@import url('cabezera.css');

a.information{
    background: #585858;
    pointer-events: none; 
    cursor: default; 
}

.contenido{
    height:65%;    
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contenido-descripcion{
    height: 30%;
    width: 100%;

}

.contenido-descripcion >p{

margin-left: 8%;
margin-right: 8%;
font-size: 130%;
}

.detalles{

    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
   
}

.detalles > div{
    padding-top: 4%;
    width: 33.3%;
    height: 100%;
    padding-left: 10%;
    align-items: center;

}



.detalles > div>b{
    font-size: 125%;
    margin-left: 10%;
 
}



.detalles > div > div{

    width: 55%;
    height: 50%;
    border: 3px solid black;
    margin-top: 5%;
}




/* PARTE DE ABAJO */
.fondo{
    height: 20%;    
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fondo>div{
    height: 100%;    
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;

}


.fondo>div >p{
    font-size: 125%;
    padding-left: -10%;
}


.Universidad{
    width: 20%;
    height: 78%;
    margin-left: 5%;
   margin-right: 3%;
}

.Facultad{
    width: 20%;
    height: 60%;

}

.contenedorFacultad>p {
    margin-left: 20%;
    margin-right: 3%;
}