{% extends './layout.html' %}

{% block title %} {{ data.titulo }} {% endblock title %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
        <!-- Título -->
        <h1>KeraBERT</h1>

        <!-- Descripción -->
        <p class="mt-3" style="white-space: pre-line;">KeraBERT surge como un modelo de Procesamiento de lenguaje natural el cual permitira identificar el tratamiento de Queratocono.
            El modelo acepta como entrada el caso clínico del paciente, brindando como respuesta el tratamiento adecuado (Queratoplastia, Crosslinking o Segmentos de anillos corneales). 
            Esto resulta beneficioso para los oftalmólogos, pues la identificación y selección del tratamiento adecuado para cada paciente puede ser un desafío debido a la diversidad de opciones disponibles, que van desde el uso de lentes de contacto especializados hasta procedimientos quirúrgicos como el trasplante de córnea.
        </p>

        <!-- Imagen -->
        <div class="mt-4">
            <img src="{{ url_for('static',filename='assets/esquema.png')}}" alt="Esquema Modelo" class="img-fluid mx-auto d-block img-esquema">
        </div>

        <!-- Descripción General -->
        <p class="mt-4">De esta manera, los oftalmólogos pueden aprovechar el conocimiento y la experiencia acumulada en un formato accesible y procesable, lo que les permite tomar decisiones más fundamentadas y personalizadas en la atención de sus pacientes. Esto puede conducir a mejores resultados de tratamiento, mejorando la calidad de vida de los pacientes y reduciendo la necesidad de intervenciones innecesarias o inadecuadas.</p>
        </div>
    </div>
</div>
    
{% endblock body %} 

